<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Before renderbody</h1>
        @RenderBody()
        <h1>After renderbody</h1>
    </div>
</body>
</html>
